.banner_wrap{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.banner{
    max-width: 1920px;
    height: 40px;
    margin: 0 auto;
}

.banner:nth-child(1){
    background-color: #97AA85;
}

.banner:nth-child(2){
    background-color: #000;
}

.banner>a{
    font-size: 13px;
    line-height: 40px;
    color: #fff;
    font-family: "Noto Sans KR", sans-serif;
}

/* banner end  */

.in_header{
    max-width: 1920px;
    margin: 0 auto;
    height: 100px;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #fff;
    border-bottom: 1px solid #97AA85;
}

.gnb{
    width: 625px;
    height: 50px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb a{
    font-size: 14px;
    color: #3c3c3c;
    font-family: ""Radley"";
}

.right_menu{
    width: 50vw;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 74px;
    height: 74px;  
}

.menu{
    width: 143px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img{
    width: 22.83px;
    height: 20px;
}

.mo_bar{
    display: none;
}

.mo_logo{
    display: none;
 
}

/* header end  */

.sec_1_img{
    width: 100%;
    height: 100%;
}

.sec_1_mo_img{
    display: none;
}

/* section_1 end  */

.sec_2_wrap{
    max-width: 1730px;
    padding: 0 65px;
    margin: 0 auto;
    display: flex;
    /* background-color: orange; */
}

.sec_2_left{
    width: 50%; 
    padding: 20px;
    /* background-color: skyblue; */
}

.sec_2_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.sec_2_con{
    width: 45%;
    margin-top: 25px;
}

.sec_2_text{
    text-align: center;
}

.sec_2_text>span{
    font-size: 14px;
    color: #707071;
    margin-bottom: 3px;
}

.sec_2_text>p:nth-child(3){
    font-size: 17px;
    margin-top: 9px;
    font-family: "Noto Sans KR", sans-serif;

}

.sec_2_text>p:nth-child(4){
    font-size: 14px;
    margin-top: 9px;
}

/* >> sec_2_left  */

.sec_2_right{
    width: 50%;
    /* background-color: tan; */
}

.sec_2_right_img{
    width: 100%;
    height: 100%;
}

.sec_2_right_img img{
    border-radius: 10px;
}

.sec_2_mo_text{
    display: none;
}

.section_2 .btn{
    margin: 0 auto;
    margin-top: 127px;
}

/* section_2 end  */

.sec_3_img{
    width: 100%;
    height: 100%;
}

.sec_3_inner{
    max-width: 1920px;
    /* background-color: tan; */
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 34%;
    left: 46%;
}

.sec_3_text>p:nth-child(1){
    font-size: 18px;
    margin-bottom: 10px;
}

.sec_3_text>p:nth-child(2){
    font-size: 30px;
    font-family: "Radley";
    margin-bottom: 15px;
}

.sec_3_text>p:nth-child(3){
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-bottom: 20px;
    font-family: "Noto Sans KR", sans-serif;
}

.sec_3_mo_img{
    display: none;
}

.sec_3_mo_inner{
    display: none;
}

/* section_3 end  */

.sec_4_container{
    max-width: 1730px;
    padding: 0 65px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: skyblue; */
}

.sec_4_con{
    width: 27%;
}

.sec_4_con:nth-child(2){
    width: 31%;
}

.sec_4_con img{
    border-radius: 10px;
}

.sec_4_text{
    font-size: 20px;
    text-align: center;
    font-family: "Radley";
    color: #fff;
    position: relative;
    top: -53px;
}

/* section_4 end  */

.sec_5_container{
    max-width: 1730px;
    padding: 100px 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: tan; */
    margin: 0 auto;
}

.sec_5_con_left{
    width: 40%;
}

.sec_5_con_left img{
    border-radius: 10px;
}

.sec_5_con_right{
    width: 60%;
    padding-left: 80px;
    /* background-color: skyblue; */
}

.sec_5_title p{
    font-size: 16px;
    line-height: 24px;
    padding-top: 1.5vw;
    padding-bottom: 20px;
    font-family: "Noto Sans KR", sans-serif;
}

.sec_5_title>p:nth-child(1){
    font-size: 50px;
    color: #333;
    font-weight: 400;
    font-family: "Marcellus", "Radley", serif;
    line-height: 53px;
}

.sec_5_mo_text{
    display: none;
}

/* section_5 end  */

.footer_mo{
    display: none;
}

.footer_wrap{
    max-width: 1920px;
    padding: 0 40px;
}

.footer_top{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding-top: 67px;
    padding-bottom: 44px;
    border-bottom: 0.3px solid rgb(0, 0, 0, 0.2);
}

.footer_top_left{
    /* background-color: orange; */
}

.footer_customer>a{
    font-size: 16px;
    color: #333;
}

.footer_customer p{
    font-size: 25px;
    color: #333;
    margin-top: 3px;
}

.footer_top_right{
    width: 500px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}

.time{
    font-size: 13px;
    color: #333;
    margin-top: 20px;
}

.time span{
    margin-left: 133px;
}

.time>li{
    margin-top: 6px;
}

.footer_con>p{
    margin-bottom: 8px;
    font-size: 13px;
    color: #757575;
    font-family: "Noto Sans KR", sans-serif;
}


.footer_con>p:nth-child(1){
    font-size: 16px;
    color: #333;
    font-family: "Marcellus", "Radley", serif;
}

.insta{
    display: flex;
    align-items: center;
    color: #757575;
}

.insta_icon{
    width: 12px;
    height: 12px;
    margin-right: 3px;
}

.footer_bottom{
    padding-top: 20px;
    /* background-color: tan; */
}

.footer_menu>a{
    font-size: 13px;
    color: #333;
    font-family: "Noto Sans KR", sans-serif;
    /* background-color: skyblue; */
}

.information{
    font-size: 12px;
    margin-top: 15px;
    font-family: "Noto Sans KR", sans-serif;
    /* background-color: teal; */
}

.information>p{
    margin-top: 5px;
    color: #333;
}


/* ==================================================================== 1445 start  */

@media all and (max-width:1445px) {

    .banner{
        height: 27px;
    }

    .banner>a{
        font-size: 12px;
        line-height: 27px;
    }

    /* banner end  */

    .in_header{
        height: 65px;
        padding: 0 20px;
    }

    .gnb{
        display: none;
    }

    .mo_bar{
        display: block;
        width: 20px;
        height: 20px;
    }

    .logo{
        display: none;
    }

    .mo_logo{
        display: block;
        width: 62px;
        height: 62px;
    }

    .menu{
        width: 79px;
    }

    .menu>li:nth-child(4){
        display: none;
    }

    .menu img{
        width: 20.53px;
        height: 18px;
    }

    /* header end  */
}


/* ==================================================================== 1294 start  */


@media all and (max-width:1294px) {

    .sec_3_img{
        display: none;
    }

    .sec_3_mo_img{
        width: 100%;
        height: 40vw;
        display: block;
    }

    .sec_3_inner{
        display: none;
    }

    .sec_3_mo_inner{
        display: block;
        margin-top: 50px;
    }

    .sec_3_mo_text{
        text-align: center;
        margin-top: -20px;
    }

    .sec_3_mo_text>p:nth-child(1){
        font-size: 15px;
        margin-bottom: 10px;
        color: #768962;
    }
    
    .sec_3_mo_text>p:nth-child(2){
        font-size: 30px;
        font-family: "Radley";
        margin-bottom: 15px;
    }
    
    .sec_3_mo_text>p:nth-child(3){
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 50px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .section_3 .btn{
        margin: 0 auto;
    }

    /* section_3 end  */

    .sec_5_con_right {
        padding-left: 60px;
    }
 
 }

 /* ====================================================================993 start  */


@media all and (max-width:993px) {

    .sec_1_img{
        display: none;
    }

    .sec_1_mo_img{
        width: 100%;
        height: 100%;
        display: block;
    }

     /* section_1 end  */

    .sec_2_wrap{
        padding: 0;
    }

    .sec_2_title{
        font-size: 40px;
    }

    .sec_2_left{
        width: 80%;
        padding-top: 0;
        margin: 0 auto;
    }

    .sec_2_right{
        display: none;
    }
    
    .sec_2_con{
        width: 50%;
    }

    .sec_2_text>span{
        display: none;
    }

    .sec_2_text>p:nth-child(3){
        margin-top: 4px;
    }

    .sec_2_text>p:nth-child(4){
        font-size: 14px;
    }

    .sec_2_mo_text{
        display: block;
        font-size: 12px;
    }

    .section_2 .btn {
        margin-top: 87px;
    }

    /* section_2 end  */

    .sec_5_title>h2{
        padding-top: 5vw;
    }

    /* section_5 end  */

    .footer_wrap{
        padding: 0 20px;
    }

    .footer_con{
        display: none;
    }

    .footer_top{
        flex-direction: column-reverse;
        padding-top: 22px;
        padding-bottom: 28px;
    }
    .footer_top_right{
        width: 100%;
    }

    .footer_mo_wrap{
        width: 100%;
        /* background-color: aquamarine; */
    }

    .footer_mo{
        display: block;
    }

    .footer_mo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        font-size: 13px;
        color: #333;
    }

    .arrow_down{
        width: 20px;
        height: 20px;
    }

    .footer_customer{
        margin-top: 20px;
    }

    .footer_customer>a{
        font-size: 13px;
    }

    .footer_customer p{
        font-size: 22px;
        margin-top: 13px;
    }

    .time span{
        margin-left: 18px;
    }

    .time>li{
        margin-top: 7px;
    }

    .footer_menu>a{
        color: #757575;
        font-size: 12px;
    }

    .information>p{
        color: #757575;
        line-height: 18px;
    }

}

 
/* ==================================================================== 879 start  */

@media all and (max-width:879px) {
    

    .sec_2_text>p:nth-child(3){
        font-size: 15px;
    }

    /* section_2 end  */

    .sec_3_mo_img{
        height: 327px;
    }
    
    .sec_3_mo_text>p:nth-child(1){
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .sec_3_mo_text>p:nth-child(2){
        font-size: 20px;
        font-family: "Radley";
    }
    
    .sec_3_mo_text>p:nth-child(3){
        font-size: 15px;
        line-height: 21px;
        color: #333;
    }

    /* section_3 end  */
    
    .sec_4_container{
        padding: 40px;
        padding: 0 20px;
    }

    .sec_4_con:nth-child(1){
        width: 48%;
        height: 58vw;
    }
    
    .sec_4_con:nth-child(2){
        width: 48%;
        height: 58vw;
    }

    .sec_4_con:nth-child(3){
        width: 100%;
        margin-top: 3.5vw;
        height: 85vw;
    }

    .sec_4_con_img{
        width: 100%;
        height: 100%;
    }
    
    .sec_4_text{
        font-size: 16px;
        top: -43px;
    }

    /* section_4 end   */

    .sec_5_container{
        padding: 0 20px;
    }

    .sec_5_con_left{
        width: 100%;
        padding-top: 50px;
    }

    .sec_5_con_right{
        width: 100%;
        padding: 0;
        padding-bottom: 40px;
    }

    .sec_5_title{
        display: none;
    }

    .sec_5_mo_text{
        display: block;
        text-align: center;
    }

    .sec_5_mo_text p{
        font-size: 14px;
        padding-top: 20px;
        color: #333;
        font-family: "Noto Sans KR", sans-serif;
    }

    .sec_5_mo_text>p:nth-child(1){
        font-size: 35px;
        padding-top: 34px;
        font-weight: 400;
        font-family: "Marcellus", "Radley", serif;
    }
    

    .section_5 .btn{
        margin: 0 auto;
        margin-top: 25px;
    }

 }

 /* ==================================================================== 675 start  */

@media all and (max-width:675px) {

    .sec_2_left{
        width: 100%;
    }

    .right_menu{
        width: 54vw;
    }

 }






