*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: #000;}
ul{list-style: none; display: block;}
img{display: block; width: 100%; height: 100%; object-fit: cover;}
body{font-family: "Marcellus", "Radley", serif;}